<!DOCTYPE html>
<html lang="en">

<head>
	<title>Quiz</title>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/static/quiz.css" type="text/css" media="screen" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="/static/quiz.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/quizlib.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
	<div id="center">
		<button id="start" onclick="startQuiz();">Start</button>
		<!-- Quiz Results -->
		<div id="quiz-result" class="card">
			You Scored <span id="quiz-percent"></span>% - <span id="quiz-score"></span>/<span
				id="quiz-max-score"></span><br />
		</div>

		<!-- Quiz Container -->
		<div id="quiz">
			<!-- Question 1 -->
			<div id="q1" class="card quizlib-question">
				<div class="quizlib-question-title">
					<audio id="a1" controls>
						<source src="/static/q1.mp3" type="audio/mpeg">
					</audio>
				</div>
				<div class="quizlib-question-answers">
					<label><input type="radio" name="q1" onclick="changeQuestion();" value="a"> 30</label>
					<label><input type="radio" name="q1" onclick="changeQuestion();" value="b"> 200</label>
					<label><input type="radio" name="q1" onclick="changeQuestion();" value="c"> 100</label>
					<label><input type="radio" name="q1" onclick="changeQuestion();" value="d"> 1000</label>
				</div>
			</div>
			<!-- Question 2 -->
			<div id="q2" class="card quizlib-question">
				<div class="quizlib-question-title">
					<audio id="a2" controls><source src="/static/q2.mp3" type="audio/mpeg"></audio>
				</div>
				<div class="quizlib-question-answers">
					<label><input type="radio" name="q2" onclick="changeQuestion();" value="a"> Astra Zeneca</label>
					<label><input type="radio" name="q2" onclick="changeQuestion();" value="b"> Johnson & Johnson</label>
					<label><input type="radio" name="q2" onclick="changeQuestion();" value="c"> BioNTech</label>
					<label><input type="radio" name="q2" onclick="changeQuestion();" value="d"> ALTA</label>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
